<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.printerk.cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>PrinterKPlugin</name>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module name="PrinterKPlugin" src="www/PrinterKPlugin.js">
    <clobbers target="PrinterKPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="PrinterKPlugin">
        <param name="android-package" value="com.printerk.cordova.PrinterKPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="woyou.aidlservice.jiuiv5.IWoyouService">
        <intent-filter>
          <action android:name="woyou.aidlservice.jiuiv5.IWoyouService" />
        </intent-filter>
      </service>
    </config-file>
    <source-file src="src/android/PrinterKPlugin.java" target-dir="src/com/printerk/cordova/PrinterKPlugin" />
    <source-file src="src/android/com/sunmi/trans/TransBean.aidl" target-dir="src/com/sunmi/trans/"/>
    <source-file src="src/android/com/sunmi/trans/TransBean.java" target-dir="src/com/sunmi/trans/"/>
    <source-file src="src/android/woyou/aidlservice/jiuiv5/IWoyouService.aidl" target-dir="src/woyou/aidlservice/jiuiv5/"/>
    <source-file src="src/android/woyou/aidlservice/jiuiv5/iCallback.aidl" target-dir="src/woyou/aidlservice/jiuiv5/"/>
  </platform>
</plugin>
